$darkBlue: #333D45;
$blue: #4D6E7F;
$lightBlue: #7E8D9C;
$beige: #D5C9BB;
$orange: #C5742C;
$burntOrange: #813D18;
$black-transparent: rgba(0, 0, 0, 0.5);
$head-font: "Courgette", cursive;
$body-font: "Work Sans", sans-serif;

/*global*/
body{
    background-color: $orange;
    color: white;
    font-family: $body-font;
}
h1 {
    font-size: 4rem;
}

h1, h2, h3 {
    font-family: $head-font;
}

.jumbotron {
    margin: 0;
    padding: 10px;
    background-color: $lightBlue;
}

#modalHeader {
    background-color: $blue;
}

.navbar {
    background-color: $blue;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

a, a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color:$lightBlue;
}

.breadcrumb-item+.breadcrumb-item::before, .breadcrumb-item.active {
    color: $beige;
}

.breadcrumb {
    background-color: $burntOrange;
}

.navbar-toggler-icon{
    color: white;
}

.btn-primary {
    background-color: $lightBlue;
    border-color: $lightBlue;
}

.site-footer {
    background-color: $burntOrange; 
}

/*homePage*/

#cafeCarousel {
    position: relative;
}

.carousel-caption {
    background-color: $black-transparent;
}

/*ourStory*/

/*menu*/

.bg-dark {
    background-color: $burntOrange!important;
}

.bg-light {
    background-color: $beige!important;
    color: #212529;
}

/*venue*/

/*contactUs*/

.btn-light {
    background-color: $beige;
    border-color: $beige;
}

.map-responsive {
    overflow:hidden;
    position:relative;
    height: 250px;
    border-radius: .25rem;
}

.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}