body {
  background-color: #C5742C;
  color: white; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-color: #7E8D9C; }

.navbar {
  background-color: #4D6E7F; }

a, a:link {
  color: white;
  text-decoration: none; }

a:hover {
  color: #7E8D9C; }

#breadcrumb {
  color: #7E8D9C; }

.breadcrumb {
  background-color: #813D18; }

.navbar-toggler-icon {
  color: white; }

.site-footer {
  background-color: #813D18; }
