$darkBlue: #333D45;
$blue: #4D6E7F;
$lightBlue: #7E8D9C;
$beige: #D5C9BB;
$orange: #C5742C;
$burntOrange: #813D18;
$black-transparent: rgba(0, 0, 0, 0.5);
$head-font: "Courgette", cursive;
$body-font: "Work Sans", sans-serif;

body{
    background-color: $orange;
    color: white;
    font-family: $body-font;
}
h1 {
    font-size: 4rem;
}

h1, h2, h3 {
    font-family: $head-font;
}

.jumbotron {
    margin: 0;
    padding: 10px;
    background-color: $lightBlue;
}

#modalHeader {
    background-color: $blue;
}

.navbar {
    background-color: $blue;
}

a, a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color:$lightBlue;
}

.breadcrumb-item+.breadcrumb-item::before, .breadcrumb-item.active {
    color: $beige;
}

.breadcrumb {
    background-color: $burntOrange;
}

.navbar-toggler-icon{
    color: white;
}

#cafeCarousel {
    position: relative;
}

.carousel-caption {
    background-color: $black-transparent;
}

.site-footer {
    background-color: $burntOrange;
}