body {
  background-color: #C5742C;
  color: white;
  font-family: "Work Sans", sans-serif; }

h1 {
  font-size: 4rem; }

h1, h2, h3 {
  font-family: "Courgette", cursive; }

.jumbotron {
  margin: 0;
  padding: 10px;
  background-color: #7E8D9C; }

.navbar {
  background-color: #4D6E7F; }

a, a:link {
  color: white;
  text-decoration: none; }

a:hover {
  color: #7E8D9C; }

.breadcrumb-item + .breadcrumb-item::before, .breadcrumb-item.active {
  color: #D5C9BB; }

.breadcrumb {
  background-color: #813D18; }

.navbar-toggler-icon {
  color: white; }

#cafeCarousel {
  position: relative; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.site-footer {
  background-color: #813D18; }
